#chat {
    min-height: 100px;
    height: 100%;
    overflow-y: scroll;
}
#chatWrap {
    float: left;
    border: 1px solid #000000;
}
#contentWrap {
    display: none;
}
#users {
    display: inline-block;
    font-weight: bold;
}
input {
    outline: none;
}